<h2>All Authors</h2>
<% @authors.each do |author| %>
  <div class="booyah-box col-10 offset-1">
    <ul>  
      <li>First name: <%= author.first_name %></li>
      <li>Last name: <%= author.last_name %></li>
      <li>Age: <%= author.age %></li>
    </ul>

  <i><strong>Book(s)</strong></i><br />
    <% Authorship.all.each do |authorship| %>
      <% if authorship.author_id == author.id %>
       <%= Book.find(authorship.book_id).title %>
      <% end %>
    <% end %>
  
  </div>

  <hr />

<% end %>   