
  

  <% @books.collect{|b| [b.title]}.transpose.each do |line| %>
    <tr>
      <% line.each do |cell| %>
        <td><%= cell %></td> |
      <% end %>
    </tr>
  <% end %>
  
  <% @books.each do |book| %>
    <div class="booyah-box col-10 offset-1">
      <ul>
        <li><h1><%= link_to book.title, book_path(book) %></h1></li>
        <li><%= book.author %></li>
        <li><%= book.genre %></li>
      </ul>
    </div>

    <hr />

  <% end %>   
